Flask==2.2.5
flask-login==0.6.2
bcrypt==4.0.1
reportlab==4.0.4
qrcode==7.4.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
Werkzeug==2.2.3
gspread==6.1.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0